@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-2xl;
}


.scrollbar-style::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scrollbar-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px 10px 10px 0;
  overflow: hidden;
}
 
/* Handle */
.scrollbar-style::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 0px 10px 10px 0;
}

/* Gradient Border */
.gredient-border::part {
  content: " ";
  width: 100%;
  height: 200px;

  border-radius: 1rem;
  background: linear-gradient(to left bottom, #00FFA3, #DC1FFF);
  padding: 0.125rem;
}

.gredient-border {
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: red;
}

/* <div className="h-36 w-full rounded-2xl bg-gradient-to-r from-[#00FFA3] to-[#DC1FFF] p-0.5">
                    <div className=" h-full w-full bg-white rounded-2xl ">
    
                    </div>
                </div> */
